.clothingForm {
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: white;
    margin-top: 1rem;
    padding: 2rem;
    border-radius: .5rem;

}


.form-control {
    display: inline;
    justify-content: center;
}


.fileUpload {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: .5rem;
    margin-left: auto;
    margin-right: auto;
}



.container--addItem {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.form-control {
    margin-left: auto;
    margin-right: auto;
}

.form-group img {
    width: 300px;
    height: 300px;
    padding: 1rem;
}


