.outfit {
    width: 23rem;
    height: 27rem;
    background-color: white;
    margin: 1rem;
}

.outfit--images img{
    width: 10rem;
    height: 10rem;
}

.outfit--images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.outfitList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.outfitControls {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.outfitControls button {
    margin-top: .4rem;
}

.wearButton {
    display: flex;
    justify-content: center;
}

.wearButton button{
    width: 20.75rem;
    height: 2rem;
}

.functionButtons {
    display: flex;
    justify-content: center;
}

.functionButtons button {
    width: 10.15rem;
    margin: .25rem;
}

