.outfit {
    width: 23rem;
    height: 27rem;
    background-color: white;
    margin: 1rem;
}

.outfit--images img{
    width: 10rem;
    height: 10rem;
}

.outfit--images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: .25rem;
}

.outfitList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.outfitControls {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.outfitControls button {
    margin-top: .4rem;
}

.wearButton {
    display: flex;
    justify-content: center;
}

.wearButton button{
    width: 20.75rem;
    height: 2rem;
}

.functionButtons {
    display: flex;
    justify-content: center;
}

.functionButtons button {
    width: 10.15rem;
    margin: .25rem;
}

.saveOutfitSection {
    display: flex;
    justify-content: center;
}

.previewFitPic img {
    width: 7rem;
    height: 9rem;
    
}

.inputSection{
    margin-top: auto;
    margin-bottom: auto;
}
.saveOutfitSection button{
    margin-top: auto;
    margin-bottom: auto;
}

.inputSection label{
    margin-bottom: 1rem;
}

.fullFitPic img{
    height: 20rem;
    width: 20rem;
    margin-left: 1rem;
}

.fullFitPic {
    margin-top: .5rem;
}


